.party-page {
    /* height:100vh; */
    background-color:var(--col-secondary);
    /* margin-left:10vw; */
    text-align: center;
}

.user-wrap {
    text-align: center;
    left:0;right:0;margin:0 auto;
    bottom:50px;
    display: flex;
    align-items: stretch;
    height: 100%;
    flex: 1;
    margin-top: 0;
    margin-bottom: auto;
    flex-direction: column;
  }

.users {
    overflow-y: scroll;
    display:flex;
    position: relative;
    justify-self: flex-start;
    flex-grow: 1;
}

.users--unauthed {
    display: flex;
    justify-content: center;
}

.user__info--unauthed {
    font-size: 24px;
}

.party--unauthed {
    height: 100vh;
    padding: 5vh 20px 6vh 20px;
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.party--unauthed__footer  {
    display: flex;
    flex-direction: column;
}

.party-contents {
    display: flex;
    height:100vh;
    align-items: center;
    justify-content: center;
    margin-left: max(280px, 10vw);
}


.song {
    max-width: 400px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
}

.link--leave-mobile {
    position: absolute;
    top:2rem;
    cursor: pointer;
    margin:0 auto;left:0;right:0;
}

@media (max-width: 768px) {
    .party-page {
        overflow: hidden;
    }

    .party-contents {
        margin-left: 0;
    }
}
